* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* @font-face{

    font-family:'digital-clock-font';
    src: url('put_the_location_to_your_font.ttf or .otf');
    
   } */

body {

    background: black;
    height: 100vh;
    max-width: 800px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#top-nav {

    display: flex;
    justify-content: center;

}

#top-nav i {

    margin: 0.5rem;

}

.menu-icon-wrap {

    width: 10%;
    
}

.menu-icon-line {

    background: #fff;
    padding: 0.1rem;
    margin: 0.3rem;

}

#dhikr-type-wrap {

    margin-top: 30%;
    text-align: center;
    font-size: 2rem;

}

#counter-wrap {

    color: #fff;
    height: 50%;
    padding-top: 30%;


}

.counter-number {

    
    height: 100%;
    font-size: 11rem;
    text-align: center;
    
}

#buttons-wrap {

    text-align: center;
    

}

#buttons-wrap button {

    background: transparent;
    color: #fff;
    border: none;
    font-size: 7rem;
    height: 40%;
    width: 40%;
    padding: 1rem;
    /* margin: 4rem; */
    border: 4px solid white;
    border-radius: 40%;
    

}